.header {
  cursor: pointer;
  width: 100%;
  display: flex;
  position: fixed;
  background: #39445a;
  font-family: "Montserrat", sans-serif, Courier, monospace;
  font-size: 3vw;
  padding-bottom: 15px;
  box-shadow: 0px 1px 5px black;
  color: white;
  z-index: 100;
  justify-content: center;
  text-transform: uppercase;
}

@media (max-width: 1000px) {
  .header {
    padding-top: 15px;
    font-size: 6.4vw;
  }
}
